---

- hosts: production
  remote_user: 401e
  roles:
    - apache      # remove for plesk
    - mysql       # remove for plesk
    - application
  vars:
    # Project
    site_name:              # Directory where htdocs and application will live
    git_org: elevatedthird  # Name of the git user/organization
    git_repo:               # Name of the git repository
    drupal_root: site       # Dir which has index.php
    git_branch: master      # This is the branch that will be deployed
    max_releases: 10        # Number of past releases to keep

    # Host mysql
    db_name:      # name of the db
    db_user:      # name of the db user
    db_pass:      # db password

    mysql_login_host: localhost

    # Host apache
    site_domain:      # domain name to put in vhost. Should NOT have www.
    env_vars:
      - blackmesh
      - prod

    # Host filesystem
    htdocs: htdocs            # document root expected by apache
    htsdocs: htsdocs          # ibid.
    file_owner: 401e
    file_group: apache
    sites_directory: /var/www
